$enable-rounded:false;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);
$font-size-base: .8rem;
@import "Colors";
@import "~bootstrap/scss/bootstrap";

h1.title {
    margin-top: 40px;
    font-weight: 200;
    color: $primary;
    text-align: center;
    @media screen and (min-width: #{map-get($container-max-widths, "md")}) {
        text-align: left;
    }
}
.badge{
    font-weight: 400;
    text-transform: uppercase;
    font-size: .6em;
    padding: .4em .6em;
}

#person-panel{
    margin-top: 6em;
    text-align: center;
    h3.name, p.role{
        margin-bottom: 0px;
    }
    .badge{
        margin-right: 4px;
    }
    label{
        margin-top: 20px;
    }
    @media screen and (min-width: #{map-get($container-max-widths, "md")}) {
        text-align: left;
    }
}
#role-selector{
    display: block;
    text-align: center;
    select > option{
        text-align: center; 
    }
    @media screen and (min-width: #{map-get($container-max-widths, "md")}) {
        display: inline;
        text-align: left;
        select > option{
            text-align: left; 
        }
    }
}

#category-panel{
    .kpi{
        padding: 2em;
        margin: 2em 0;
        border: 1px solid $gray-500;
    }
    .category-nav, .levels-nav{
        a{
            font-size: 12px
        }
        a.active{
            background-color: $primary;
        }
    }
    .levels-nav{
        margin-bottom: 6px;
    }
    .category-nav{
        margin-bottom: 30px;
        text-align: center;
        .active{
            background-color: $gray-500;
        }
        @media screen and (min-width: #{map-get($container-max-widths, "md")}) {
            text-align: left;
        }
    }
    h4{
        text-align: center;
        margin-bottom: 1.2em;
        @media screen and (min-width: #{map-get($container-max-widths, "md")}) {
            text-align: left;
        }
    }
}

#radar-chart{
        height: 400px!important;
        @media screen and (min-width: #{map-get($container-max-widths, "md")}) {
            height: 600px!important;
        }
    
}